* {
    max-width: 100%;
    margin: auto;
}

div {
    border-radius: 10px;
}

#header {
    height: 40px;
    width: 100%;
    background-color: #34c374;
    position: fixed;
    z-index: 1;
}

.footer {
    height: 40px;
    width: 100%;
    background-color: aqua;
    position: unrelative;
    clear;
    both;
}

.left-side {
    height: 1000px;
    width: 50px;
    background-color: aqua;
    float: left;
    position: fixed;
}

.right-side {
    height: 1000px;
    width: 50px;
    float: right;
    position: inherit;
}

.content {
    display: inline-block;
    margin-top: 6px;
    margin-left: 60px;
    width: 75%;
    height: 1000px;
}

.heading {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
}

.copyright {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    font-family: 'Times New Roman', Times, serif
}